<!-- Footer -->
<footer class="content-footer footer bg-footer-theme card card-border-shadow-danger">
  <div class="{{container_class}}">
    <div class="footer-container d-flex align-items-center justify-content-between py-4 flex-md-row flex-column">
      <div class="text-body">
        © <script>
        document.write(new Date().getFullYear())

        </script>, made with ❤️ by <a href="{% get_theme_variables 'creator_url' %}" target="_blank" class="footer-link">{% get_theme_variables 'creator_name' %}</a>
      </div>
      <div class="d-none d-lg-inline-block">
        <a href="" class="footer-link me-4" >License</a>
        <a href=""  class="footer-link me-4">More Themes</a>
        <a href=""  class="footer-link me-4">Documentation</a>
        <a href=""  class="footer-link d-none d-sm-inline-block">Support</a>
      </div>
    </div>
  </div>
</footer>
<!-- / Footer -->
