{% extends layout_path %}

{% load static %}
{% load i18n %}

{% block title %}Login Basic - Pages{% endblock %}

{% block vendor_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/libs/@form-validation/form-validation.css' %}" />
{% endblock vendor_css %}

{% block vendor_js %}
  {{ block.super }}
  <script src="{% static 'vendor/libs/@form-validation/popular.js' %}"></script>
  <script src="{% static 'vendor/libs/@form-validation/bootstrap5.js' %}"></script>
  <script src="{% static 'vendor/libs/@form-validation/auto-focus.js' %}"></script>
{% endblock vendor_js %}

{% block page_css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'vendor/css/pages/page-auth.css' %}">
{% endblock page_css %}

{% block page_js %}
  {{ block.super }}
  <script src="{% static 'js/pages-auth.js' %}"></script>
{% endblock page_js %}

{% block content %}
  <div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
      <div class="authentication-inner py-6">
        <div class="card">
          <div class="card-body">
            <div class="app-brand justify-content-center mb-6">
              <a href="{% url 'index' %}" class="app-brand-link">
                <span
                  class="app-brand-logo demo">{% include 'partials/logo.html' with height=20 bgcolor="fill: #fff;" %}</span>
                <span class="app-brand-text demo text-heading fw-bold">{% get_theme_variables 'template_name' %}</span>
              </a>
            </div>
            <h4 class="mb-1">{% get_theme_variables 'template_name' %}ga hush kelibsiz! 👋</h4>
            <p class="mb-6">Namangan davlat pedagogika instituti</p>

            <div id="messages-container"></div>

            <form id="formAuthentication" class="mb-4" method="POST">
              {% csrf_token %}
              <div class="mb-6">
                <label for="email" class="form-label">Email yoki Foydalanuvchi nomi</label>
                <input type="text" class="form-control" id="email" name="email-username"
                       placeholder="Email yoki foydalanuvchi nomini kiriting" autofocus>
              </div>
              <div class="mb-6 form-password-toggle">
                <label class="form-label" for="password">Parol</label>
                <div class="input-group input-group-merge">
                  <input type="password" id="password" class="form-control" name="password"
                         placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                         aria-describedby="password" />
                  <span class="input-group-text cursor-pointer"><i class="ti ti-eye-off"></i></span>
                </div>
              </div>
              {% if request.GET.next %}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
              {% endif %}
              <div class="mb-6">
                <button class="btn btn-primary d-grid w-100" type="button" id="loginButton">Kirish</button>
              </div>
            </form>

            <div class="divider my-6">
              <div class="divider-text">
                <div class="btn btn-info">HEMIS</div>
              </div>
            </div>

            {#            <div class="d-flex justify-content-center">#}
            {#              <a href="javascript:;" class="btn btn-sm btn-icon rounded-pill btn-text-facebook me-1_5">#}
            {#                <i class="tf-icons ti ti-brand-facebook-filled"></i>#}
            {#              </a>#}
            {##}
            {#              <a href="javascript:;" class="btn btn-sm btn-icon rounded-pill btn-text-twitter me-1_5">#}
            {#                <i class="tf-icons ti ti-brand-twitter-filled"></i>#}
            {#              </a>#}
            {#            </div>#}
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script>
    $(document).ready(function() {
      $('#formAuthentication').on('click', '#loginButton', function(event) {
        event.preventDefault();  // Formaning standart yuborilishini oldini olish

        var formData = $('#formAuthentication').serialize();  // Form ma'lumotlarini seriyalash

        $.ajax({
          url: '{% url "enter" %}',  // URL'ni to'g'ri belgilash
          method: 'POST',
          data: formData,
          headers: {
            'X-CSRFToken': $('input[name="csrfmiddlewaretoken"]').val()  // CSRF tokenni olish
          },
          success: function(data) {
            // Xabarlarni HTMLga qo'shish
            $('#messages-container').empty();  // Oldingi xabarlarni tozalash

            if (data.messages) {
              data.messages.forEach(function(message) {
                var alertType = '';
                switch (message.tags) {
                  case 'success':
                    alertType = 'alert-success';
                    break;
                  case 'error':
                    alertType = 'alert-danger';
                    break;
                  default:
                    alertType = 'alert-warning';
                    break;
                }
                $('#messages-container').append(
                  '<div class="alert ' + alertType + '" role="alert">' + message.message + '</div>'
                );
              });
            }

            // Agar muvaffaqiyatli kirish bo'lsa
            if (data.messages.some(message => message.tags === 'success')) {
              window.location.href = '{% url "index" %}';  // Index sahifasiga yo'naltirish
            }
          },
          error: function(xhr, status, error) {
            console.error('Error:', error);
            var errorMessage = 'Xatolik yuz berdi, iltimos qayta urinib ko\'ring.';
            if (xhr.responseJSON && xhr.responseJSON.messages) {
              errorMessage = xhr.responseJSON.messages.map(function(msg) {
                return msg.message;
              }).join('<br>');
            }
            $('#messages-container').html('<div class="alert alert-danger" role="alert">' + errorMessage + '</div>');
          }
        });
      });
    });
  </script>
{% endblock content %}
